
/* colour variables */
:root {
    --mainBackground: #ffffff;
    --mainFontColor: #434343;
    --logoBlue: #66809A; /* also Primary Nav Hover colour */
    --portfolio1Bg: #EEF0E9;
    --portfolio2Bg: #EFECEE;
    --portfolio3Bg: #F9F6F6;
    --portfolio4Bg: #EFF3F7;
    --secondaryBg: #E3E3E3;
}

/* default style for entire page */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: #cc0000;  test colour */
    background-color: var(--mainBackgroud);
    font-size: 18px;
}

/****** START HOME GRID ******/
main {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "contentBanner1 contentBanner1 contentBanner2 contentBanner2"
        "contentBanner3 contentBanner3 contentBanner4 contentBanner4"
        "introText introText introText whiteSpace"
        "copyright footer footer footerLinks";
}

/*** HOME Grid Areas 4 columns x 5 rows (see grid-template-areas above) ***/
/* Header Grid Area (3) */
.logo {
    padding: 20px; 
    /* same padding as .header and primaryNavHeader */
    display: flex; 
    flex-wrap: wrap;
}

header {
    grid-area: header;
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
    display: flex; 
    flex-wrap: wrap;
}

.primaryNavHeader {
    background-color :#ffffff;
    text-align: right;
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
    display: flex; 
    flex-wrap: wrap;
}

/* Banners Grid Area (4) */
.contentBanners {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.contentBanner1 {
    grid-area: contentBanner1;
    padding: 50px;
    background-color: var(--portfolio1Bg);
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contentBanner2 {
    grid-area: contentBanner2;
    padding: 50px;
    background-color: var(--portfolio2Bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contentBanner3 {
    grid-area: contentBanner3;
    padding: 50px;
    background-color: var(--portfolio3Bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contentBanner4 {
    grid-area: contentBanner4;
    padding: 50px;
    background-color: var(--portfolio4Bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Intro Text Grid Areas (2) */
.introText {
    grid-area: introText;
    padding: 20px;
    color: var(--mainFontColor);
    background-color: var(--mainBackgroud);
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.whiteSpace {
    grid-area: whiteSpace;
    padding: 20px;
}

/* Footer Grid Areas (3) */
.copyright {
    grid-area: copyright;
    background-color: var(--mainBackgroud);
    font-size: 14px;
    padding: 15px;
}

.footer {
    grid-area: footer;
    background-color: var(--mainBackground);
    padding: 15px;
}

.footerLinks {
    grid-area: footerLinks;
    background-color: var(--mainBackground);
    justify-self: end;
    padding: 15px;
}
/* END HOME GRID */


/****** START SECONDARY PAGES GRID ******/
main.secondary {
    /* background-color: yellow; TEST BACKGROUND*/
    grid-template-rows: 150px 300px auto 50px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
        "logo2 header2 primaryNavHeader2"
        "contentBannerSecondary contentBannerSecondary contentBannerSecondary"
        "bodyTextSecondary bodyTextSecondary bodyTextSecondary"
        "copyright2 footer2 footerLinks2";  
    justify-content: space-evenly;
    align-content: start;
} 

/*** Secondary Grid Areas. 3 columns x 5 rows (see grid-template-areas above) ***/
/* Secondary Header Grid Area */
.logo2 {
    grid-area: logo2;
    /* background-color: plum; TEST Colour */
    padding: 20px; 
    /* same padding as .header and primaryNavHeader */
}

.header2 {
    grid-area: header2;
    /* background-color: seagreen;TEST Colour */
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
}

.primaryNavHeader2 {
    grid-area: primaryNavHeader2;
    /* background-color : coral;TEST Colour */
    text-align: right;
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
}


/* Secondary Banner Grid Area */
.contentBannerSecondary {
    grid-area: contentBannerSecondary;
    padding: 50px;
    background-color: var(--portfolio1Bg);
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Number Line Area */
.numberLine {
    grid-area: numberLine;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

/* Secondary Body Text Area */
.bodyTextSecondary {
    grid-area: bodyTextSecondary;
    /* background-color: purple; TEST COLOUR */
}

/* Secondary Footer Grid Areas (3) */
.copyright2 {
    grid-area: copyright2;
    background-color: var(--mainBackgroud);
    font-size: 14px;
    padding: 15px;
    padding-top: 30px;
}

.footer2 {
    grid-area: footer2;
    background-color: var(--mainBackground);
    padding: 15px;
    padding-top: 30px;
}

.footerLinks2 {
    grid-area: footerLinks2;
    background-color: var(--mainBackground);
    justify-self: end;
    padding: 15px;
    padding-top: 30px;
}
/* END SECONDARY PAGES GRID */

/* formatting primary Navigation links */
a.primaryNav:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:hover {
    color: var(--logoBlue);
    text-decoration: underline;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

/* for ON pages */
a.primaryNavOn:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}
a.primaryNavOn:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNavOn:hover {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNavOn:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}


/* formatting email links */
a.email:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: noraml;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:hover {
    color: var(--logoBlue);
    text-decoration: underline;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}


/* Content Banner Divs */
.contentBannerText {
    color: var(--mainFontColor);
    text-align: left;
    padding: 20px;
}


/* formatting regular text and links */
p {
    line-height: 1.25;
}

h1.homepage{
    color: var(--mainFontColor); 
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
}

.circleOff {
    width: 35px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid var(--logoBlue);
    font-family: Verdana;
  }

  .circleOn {
    width: 35px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid var(--logoBlue);
    font-family: Verdana;
    background-color: var(--portfolio1Bg);
  }

  hr.circleNumberLine {
    border-top: 3px solid var(--logoBlue);
    width: 40px;
  }

  .bodyTextA {
    padding: 20px;

  }

  .bodyTextB {
    background-color: var(--portfolio1Bg);
    padding: 20px;
  }

  h2.subtitle {
      font-weight: bold;
      color: var(--logoBlue);

  }

  .flexContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }

  .flexContainerBody {
    /* display: flex;
    justify-content: left;
    align-items: flex-start; */
    padding: 20px;
    /* background-color: coral; TEST COLOUR */
  }

  .flexContainerBodyResume {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    padding: 20px;
    /* background-color: coral; TEST COLOUR  */
  }

 div .resume {
    flex-grow:1;
    flex-wrap: wrap;
  }

  .flexContainerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }

  /* media queries go at end of css */
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      /* this colour is for testing only */
    }
    /* I added this div to my existing code to help me with media queries */
    .contentBanners {
        align-items: center;
        justify-content: space-between;
        display: flex; 
        flex-wrap: wrap;
    }

    .contentBanner1 {
        grid-area: contentBanner1;
        padding: 50px;
        background-color: var(--portfolio1Bg);
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .contentBanner2 {
        grid-area: contentBanner2;
        padding: 50px;
        background-color: var(--portfolio2Bg);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .contentBanner3 {
        grid-area: contentBanner3;
        padding: 50px;
        background-color: var(--portfolio3Bg);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .contentBanner4 {
        grid-area: contentBanner4;
        padding: 50px;
        background-color: var(--portfolio4Bg);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    }
